@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
/* You can add global styles to this file, and also import other style files */

.e-schedule .e-appointment-details {
    padding: 0 !important;
}

.template-wrapper {
    background:#1aaa55;
    padding: 1px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    text-align: center;
}
.e-appointment-details {
    background: #1aaa55;
}